body{
  margin: 0; 
  font-family: Arial, Helvetica, sans-serif; 
  color: var(--cor-11);
}
h1,h2, h3, h4, ul, p, blockquote, dd{
  margin: 0px;
}
ul{
 margin: 0;
 padding: 0;
 list-style: none; 
}
a{
  color: inherit;
  text-decoration: none;
}
img{
  max-width: 100%;
  height: auto;
  display: block;  
}
img[src$=".jpg"]{
  border-radius: 4px;
}

